body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 background: rgb(229,	232,	232);
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}

.page-div{
  margin-right: 10vw;
  margin-left: 10vw
}

#login-header{
 font-size: 8vh;
 height: 9vh;
 padding: 1.0rem;
 color: rgb(255, 206, 0);
}

#profile-headers{
 font-size: 8vh;
 height: 9vh;
 padding: 1.0rem;
 color: #484d5c
}

#input{
  margin-top: 2vh;
}

#login-area{
 margin-top: 15vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 1rem;
 background: #484d5c;
}

#create-area{
 margin-top:10vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 1rem;
 background: #484d5c;
}


.card {
  text-align: center;
  border: grey solid 0rem;
  padding: 2vw;
  width: 25vw;
  display: grid;
}

.ui.button.return {
    background: none;
}

.ui.image.style {
  max-width: 90%;
}

#category-dropdown{
  margin-top: 1vh;
  margin-bottom: 2vh;
}

#return-dropdown{
  margin-top: 1vh;
  margin-bottom: 2vh;
}