body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 background: #484d5c
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}


#header{
 font-size: 8vh;
 height: 9vh;
 padding: 1.0rem;
 color: #ffce00;
}

#input{
  margin-top: 2vh;
}

#login-area{
 margin-top: 15vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 10px;
}

#create-area{
 margin-top:10vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 10px;
}
