body {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 background: rgb(229,	232,	232);
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Archivo', sans-serif;
 font-weight: 500;
}


#login-header{
 font-size: 8vh;
 height: 9vh;
 padding: 1.0rem;
 color: rgb(255, 206, 0);
}

#profile-headers{
 font-size: 8vh;
 height: 9vh;
 padding: 1.0rem;
 color: #484d5c
}

#input{
  margin-top: 2vh;
}

#login-area{
 margin-top: 15vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 1rem;
 background: #484d5c;
}

#create-area{
 margin-top:10vh;
 width: 30vw;
 padding: 3vw;
 border: 1px solid lightgray;
 border-radius: 1rem;
 background: #484d5c;
}


#card {
  text-align: center;
  border: grey solid 0rem;
  padding: 1rem;
  width: 15rem;
  height: 1vh;
  display: grid;
}

.ui.card, .ui.cards>.card {
    max-width: 20vw;
    max-height: 50vh;
    background: #fff;
    padding: 0;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

.ui.grid>.row>.column { 
    margin: 1vw;
}

.ui[class*="three column"].grid>.row>.column {
    width: 25vw;
}